@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Andrea's Jokes App'</h1>
    <p>The foremost authority for Andrea's good humor that you will find anywhere on your local host.</a>.</p>
    <h2 class="display-3">PLEASE CLICK REGISTER TO START USING THE WEBSITE</h2>
</div>

<a asp-controller="Jokes" asp-action="Random" class="btn btn-warning">🔀 Random Joke</a>
